@import './variables.scss';
@import './responsive.scss';

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: inherit;
}

.main{
    font-family: 'Inter',sans-serif;
    background-color: $main-bg;
    color: $main-color;
   

.container{
    display: flex;

.menuContainer{
    width: 200px;
    padding: 5px 20px;
    border-right: 2px solid $soft-bg;
}

.contentContainer{
    padding: 5px 20px;
    width: 100%;
}
}
}